@import "tailwindcss";

@layer base {
  html {
    @apply scroll-smooth;
  }
  /* body {
    @apply bg-gradient-to-br from-indigo-900 via-purple-900 to-pink-900 min-h-screen;
  } */
  .bg-lines {
  background-color: #030412;
  background-image: linear-gradient(#11131e 0.1px, transparent 1px),
    linear-gradient(90deg, #11131e 1px, transparent 1px);
  background-size: 10px 15px;
}
}

@layer components {
  .glass-card {
    @apply bg-white/10 backdrop-blur-lg rounded-2xl border border-white/20;
  }
  
  .btn-primary {
    @apply px-8 py-4 bg-gradient-to-r from-cyan-500 to-blue-500 text-white font-bold rounded-lg hover:from-cyan-600 hover:to-blue-600 disabled:opacity-50 transform hover:scale-105 transition-all duration-200;
  }
  
  .btn-secondary {
    @apply px-6 py-4 bg-gradient-to-r from-green-500 to-emerald-500 text-white font-bold rounded-lg hover:from-green-600 hover:to-emerald-600 transform hover:scale-105 transition-all duration-200;
  }
}